<mat-card class="example-card apple"> 
    <mat-card-header>
      <mat-card-title>Apple</mat-card-title>
    </mat-card-header>

    <div class="textAlign"> Apple Count:{{apple}} </div> 
  <div class="textAlign">
    <mat-icon (click)="appleIncrement()">control_point</mat-icon>
    <mat-icon (click)="appleDecrement()">remove_circle_outline</mat-icon>
  </div>
  </mat-card>

  <mat-card class="example-card orange">
    <mat-card-header>
      <mat-card-title>Orange</mat-card-title>
    </mat-card-header>
   <div class="textAlign"> Orange Count:{{orange}} </div> 
   <div class="textAlign">
    <mat-icon (click)="orangeIncrement()">control_point</mat-icon>
    <mat-icon (click)="orangeDecrement()">remove_circle_outline</mat-icon>
    </div>
  </mat-card>

  <mat-card class="example-card grapes">
    <mat-card-header>
      <mat-card-title>Grapes</mat-card-title>
    </mat-card-header>
    <div class="textAlign"> Grapes Count:{{grapes}} </div> 
  <div class="textAlign">
    <mat-icon (click)="grapesIncrement()">control_point</mat-icon>
    <mat-icon (click)="grapesDecrement()">remove_circle_outline</mat-icon>
    </div>

  </mat-card>

  <mat-card class="example-card black fruitcontainer">
    <mat-card-header>
      <mat-card-title>Fruit Bucket</mat-card-title>
    </mat-card-header>
    dsddsds
    <p *ngFor="let data of bucket; 
        let i = index"  
    [ngStyle]="{backgroundColor: (data.name == 'orange' && data.countOrange <= 10 ) ? 'orange' 
              : ((data.name == 'apple' && data.countApple <= 10) ? 'red' :(data.name == 'grapes' && data.countGrapes <= 10) ? 'green': 'transparent')}">
  
      <span style="visibility: hidden">{{data}}</span>
    </p>
  </mat-card>
