
  .example-container {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: #ffffff;
  }
 
  

  .example-card {
    width: 100%;
    margin: 25px 0px 0px 0px;
    float: left;
    box-sizing: border-box;
  }
  .orange{
    background-color: orange;
  }
  .apple {
    background-color: red;
  }
  .grapes {
    background-color: green;
  }
  .black{
      background-color: black;
  }
  .fruitcontainer{
    margin-left: 34% !important;

  }
  .menubar {
    position: absolute;
    z-index: 3;
    cursor: pointer;
  }
  .sidebar_nav {
    margin-top: 15%;
  }
  @media (min-width: 767px) {
    .example-card {
      width: 45%;
      margin: 30px 10px 10px 10px;
    }
    .sidebar_nav {
      margin-top: 10%;
    }
  }
  @media (min-width: 1025px) {
    .example-card {
      width: 31%;
      margin: 100px 10px 10px 10px;
    }
    .sidebar_nav {
      margin-top: 5%;
    }
    .mat-drawer {
      width: 25%;
    }
    .search-text {
      width: 75%;
      height: 30px;
   
    }
  }
  
  .textAlign{
    text-align: center;
    color: #ffffff;
  }
  .mat-card-header{
    display: block;
    color: white;
    text-align: center;
  }

